body {
    background-color: #24161b;
    font-family: 'Montserrat', sans-serif;
    color:#FBF9FA;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    height: 70px;
    align-items: center;
    border-radius: 30px;
    top: 10px;
    opacity: 100%;
    z-index: 100;
}

.header-name {
    text-transform: uppercase;

}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FBF9FA;
    margin-right: 100px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #FBF9FA;
}


a:focus {
    outline: none;
}

.active {
    background-color: #A80038;
    border-radius: 30px;
    padding: 10px;
}

img {
    max-width: 450px;
    border-radius: 30px;
    box-shadow: 2px #A80038;
    margin: 40px 5px 5px 5px;
    
}

.maincontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maincontent img:hover {
    scale: 1.05;
    transition: 1s;
}

p {
    text-align: justify;
    padding: 10px;
    margin-top: 20px;
    font-weight: 500;
    
}

#wedding {
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

#weddingimage {
    display: flex;
    justify-content: center;
}

#hobbiesdescription {
    padding: 20px;
}

#Biography {
    padding: 20px;
}